#dir
.vscode
.idea

#files
config/init.lua

pkgs/lib/wxutil.so

wxMsg.lua
*.jit
*.o
docs
test/result
src/wxutil/wxutil.so
pkgs/lib/wxutil.so
src/wxutil/tinyxml2.o
src/wxutil/valgrind.log
src/wxutil/wxutil.o
src/wxutil/wxutil.so
